<mat-nav-list role="list">
  <mat-list-item role="listitem"
    ><a routerLink="/home" (click)="onclose()">
      <mat-icon>home</mat-icon>
      <span class="nav-caption">Home</span>
    </a></mat-list-item
  >
  <mat-list-item role="listitem"
    ><a routerLink="/aboutus" (click)="onclose()"
      ><mat-icon>face</mat-icon> <span class="nav-caption">About Us</span></a
    ></mat-list-item
  >
  <mat-list-item role="listitem"
    ><a routerLink="/projects" (click)="onclose()"
      ><mat-icon>construction</mat-icon>
      <span class="nav-caption">Services</span></a
    ></mat-list-item
  >
  <mat-list-item role="listitem"
    ><a routerLink="/contactus" (click)="onclose()"
      ><mat-icon>account_box</mat-icon>
      <span class="nav-caption">Contact Us</span></a
    ></mat-list-item
  >
</mat-nav-list>
