h1{
  font-size: 22px;
  font-weight: 400;
  color: white;
}
h2{
  font-size: 25px;
  font-weight: 400;
  color: white;
}
a{
  text-decoration: none;
  color: cyan;
  font-size: 18px;
}
.icon{
  width: 70px;
  height: 60px;
}
