<div fxHide.lt-md>
  <br />
  <div fxLayout fxLayoutAlign="center">
    <img
      src="assets/Images/about us.jpg"
      style="width: 1200px; height: 700px;"
    />
  </div>

  <div fxLayout="column" fxLayoutGap="80px" fxLayoutAlign="center center">
    <br>
    <h1>Experience You Can Count On</h1>
    <p style="padding-left: 150px;padding-right: 150px;">
      Our service includes a comprehensive consultation to help identify gaps
      and opportunities, a comprehensive report that includes a project plan
      with timelines and milestones, a cost analysis, and a schedule. We also
      offer a suite of quality products that will help you get there quickly and
      smoothly. That’s how we ensure your success. <br>
      Articles – Good topics for
      articles include anything related to your company – recent changes to
      operations, the latest company softball game – or the industry you’re in.
      General business trends (think national and even international) are great
      article fodder, too. <br>
      <b>Mission statements – </b>We deliver what we promise,
      efficient and promising prospected candidates to our clients. We want to
      give each of you the time and guidance you deserve. To provide the best
      services with effective results, changing lives everyday - RIGHT MAN AT
      RIGHT JOB. <br> <br>
      Company policies – We ensure the highest professional standards
      and protection of your interest. <br>
       • A perfect business mix of business
      focus and technology which is backed with a specialize team of the
      recruiter. <br>
       • Interviewing and assessing prospective applicants and
      matching them with vacancies at client companies. <br>
      • We believe in right
      man at right job under dynamic leadership of HR professionals.  <br>
      • We believe in the growth of our clients as well as our prospective employees. <br>

      Executive profiles – A company is only as strong as its executive
      leadership. This is a good place to show off who’s occupying the corner
      offices. Write a nice bio about each executive that includes what they do,
      how long they’ve been at it, and what got them to where they are.Our
      service includes a comprehensive consultation to help identify gaps and
      opportunities, a comprehensive report that includes a project plan with
      timelines and milestones, a cost analysis, and a schedule. We also offer a
      suite of quality products that will help you get there quickly and
      smoothly. That’s how we ensure your success.
    </p>
  </div>
</div>
