.heading{
  font-size: 70px;
  line-height: 40px;
  font-family: cursive;
  // color: black;
  color: royalblue;
}
.mobheading{
  font-size: 35px;
  line-height: 35px;
  font-family: cursive;
  // color: black;
  color: royalblue;
}
