h1{
  font-size: 45px;
  font-family: cursive;
  color: royalblue;
  padding-top: 35px;
  text-align: center;
}
.matdesk{
  width: 400px;
}
.matmob{
  width: 300px;
}
mat-card{
  border-radius: 3%;
}
