<div fxHide.lt-md>
    <h1>Our services</h1>
    <br> <br>
    <div fxLayout fxLayoutGap="90px" fxLayoutAlign="center" >

      <mat-card class="matdesk">
        <mat-card-title style="text-align: center;">Job Consultancy</mat-card-title>

      </mat-card>
      <mat-card class="matdesk">
        <mat-card-title style="text-align: center; line-height: 30px;">Counselling in Career, Psychology , Corporate etc..</mat-card-title>

      </mat-card>
      <mat-card class="matdesk">
        <mat-card-title style="text-align: center;"> Digital Marketing</mat-card-title>

      </mat-card>
    </div>

</div>
