<div fxHide.lt-md>
  <mat-toolbar (scroll)="onWindowScroll($event)">
    <div fxHide.gt-md>
      <button mat-icon-button (click)="onToggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div>
      <a
        style="
          font-size: xx-large;
          font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        "
        routerLink="/home"
        (click)="scroll(home)"
      >
        Grow Hopes</a
      >
    </div>
    <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.lt-md>
      <ul fxLayout class="navbar" fxLayoutGap="20px">
        <li>
          <a
            style="
              font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman',
                serif;
              font-size: large;
            "
            routerLink="/home"
            (click)="scroll(home)"
            >Home
          </a>
        </li>
        <li style="color: white;">|</li>
        <li>
          <a
            style="
              font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman',
                serif;
              font-size: large;
            "
            routerLink="/ourservcices"
            (click)="scroll(ourservices)"
            >Our Services</a
          >
        </li>
        <li style="color: white;">|</li>
        <li>
          <a
            style="
              font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman',
                serif;
              font-size: large;
            "
            routerLink="/aboutus"
            (click)="scroll(about)"
            >About Us</a
          >
        </li>
        <li style="color: white;">|</li>
        <li>
          <a
            style="
              font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman',
                serif;
              font-size: large;
            "
            routerLink="/contactus"
            (click)="scroll(contact)"
            >Contact Us</a
          >
        </li>
      </ul>
    </div>
  </mat-toolbar>
  <br />
  <div #home class="container">
    <br />
    <br />
    <img class="homeimg" src="\assets\Images\home\logo.png" />
    <div class="center">
      <p>Grow Hopes</p>
    </div>
  </div>
  <br />
  <br />
  <div fxLayout fxLayoutGap="80px" fxLayoutAlign="center">
    <section style="width: 500px; text-align: center;">
      <img
        src="assets/Images/home/mission.jpg"
        style="width: 500x; height: 250px; border-radius: 50%;"
      />
      <h2 style="font-size: 28px;">Our Mission</h2>
      <p style="font-size: 18px; font-family: 'Times New Roman', Times, serif;">
        We deliver what we promise, efficient and promising prospected
        candidates to our clients. We want to give each of you the time and
        guidance you deserve. To provide the best services with effective
        results, changing lives everyday - RIGHT MAN AT RIGHT JOB.
      </p>
    </section>
    <section style="width: 500px; text-align: center;">
      <img
        src="assets/Images/home/vision.jpg"
        style="width: 500x; height: 250px; border-radius: 50%;"
      />
      <h2 style="font-size: 28px;">Our Vision</h2>
      <p style="font-size: 18px; font-family: 'Times New Roman', Times, serif;">
        To change the perception of recruitment and consultancy by devoting
        ourselves to the happiness of our clients, employees and candidates.
      </p>
    </section>
  </div>
  <br />
  <br />
  <br />
  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="50px">
    <div
      style="
        text-align: center;
        font-size: 50px;
        line-height: 45px;
        font-family: cursive;
        color: royalblue;
      "
    >
      Clients we Work For:
    </div>
    <div style="width: 40%; height: 70%;">
      <ng-image-slider
        [images]="imageObject"
        [infinite]="true"
        [autoSlide]="1"
        [imageSize]="{ width: '100%', height: 500 }"
        slideImage="1"
        #nav
      ></ng-image-slider>
    </div>
    <br />
  </div>

  <div class="bg1"></div>
  <br />
  <div fxLayout="column" fxLayoutGap="50px" fxLayoutAlign="center center">
    <div
      style="
        text-align: center;
        font-size: 60px;
        line-height: 50px;
        font-family: cursive;
        color: royalblue;
      "
    >
      Meet Our Team
    </div>
    <div fxLayout fxLayoutGap="50px" fxLayoutAlign="center center">
      <section>
        <mat-card>
          <mat-card-title>Shashank Verma</mat-card-title>
          <mat-card-subtitle>Founder</mat-card-subtitle>
          <img class="person" src="/assets/Images/home/mission.jpg" /><br />
          <div fxLayout fxLayoutAlign="center center" fxLayoutGap="50px">
            <section>
              <a href="mailto: growhopes0@gmail.com "
                ><img class="circle" src="\assets\Images\home\icon\gmail.png"
              /></a>
            </section>
            <section>
              <a href="https://www.linkedin.com/in/shashank-verma-18b854185"
                ><img
                  class="circle"
                  src="\assets\Images\home\icon\linkedin.png"
              /></a>
            </section>
          </div>
        </mat-card>
      </section>

      <section>
        <mat-card>
          <mat-card-title>Sofia Dubey</mat-card-title>
          <mat-card-subtitle>Marketing Head</mat-card-subtitle>
          <img class="person" src="/assets/Images/home/mission.jpg" /><br />
          <div fxLayout fxLayoutAlign="center center" fxLayoutGap="50px">
            <section>
              <a href="mailto:  sofiadubey@gmail.com "
                ><img class="circle" src="\assets\Images\home\icon\gmail.png"
              /></a>
            </section>
            <section>
              <a href="https://www.linkedin.com/in/sofiadubey"
                ><img
                  class="circle"
                  src="\assets\Images\home\icon\linkedin.png"
              /></a>
            </section>
          </div>
        </mat-card>
      </section>

      <section>
        <mat-card>
          <mat-card-title>Nikita Kejriwal</mat-card-title>
          <mat-card-subtitle>HR Head</mat-card-subtitle>
          <img class="person" src="/assets/Images/home/mission.jpg" /><br />
          <div fxLayout fxLayoutAlign="center center" fxLayoutGap="50px">
            <section>
              <a href="mailto:  nikitak649@gmail.com "
                ><img class="circle" src="\assets\Images\home\icon\gmail.png"
              /></a>
            </section>
            <section>
              <a href="https://www.linkedin.com/in/nikita-kejriwal-52118a179"
                ><img
                  class="circle"
                  src="\assets\Images\home\icon\linkedin.png"
              /></a>
            </section>
          </div>
        </mat-card>
      </section>
    </div>
    <div fxLayout fxLayoutGap="50px" fxLayoutAlign="center center">
      <section>
        <mat-card>
          <mat-card-title>Shivansh Arora</mat-card-title>
          <mat-card-subtitle>Strategic Consultant</mat-card-subtitle>
          <img class="person" src="/assets/Images/home/mission.jpg" /><br />
          <div fxLayout fxLayoutAlign="center center" fxLayoutGap="50px">
            <section>
              <a href="mailto: simplyshivansh10@gmail.com "
                ><img class="circle" src="\assets\Images\home\icon\gmail.png"
              /></a>
            </section>
            <section>
              <a href=" https://www.linkedin.com/in/shivansharora/"
                ><img
                  class="circle"
                  src="\assets\Images\home\icon\linkedin.png"
              /></a>
            </section>
          </div>
        </mat-card>
      </section>

      <section>
        <mat-card>
          <mat-card-title>Tanya Dhingra</mat-card-title>
          <mat-card-subtitle>Social Media Head</mat-card-subtitle>
          <img class="person" src="/assets/Images/home/mission.jpg" /><br />
          <div fxLayout fxLayoutAlign="center center" fxLayoutGap="50px">
            <section>
              <a href="mailto:  taniyadhingra97@gmail.com "
                ><img class="circle" src="\assets\Images\home\icon\gmail.png"
              /></a>
            </section>
            <section>
              <a href="https://www.linkedin.com/in/tanya-dhingra-b92300161"
                ><img
                  class="circle"
                  src="\assets\Images\home\icon\linkedin.png"
              /></a>
            </section>
          </div>
        </mat-card>
      </section>
    </div>
    <br /><br />
  </div>
  <div class="bg2"></div>
  <div #about>&nbsp; <br /></div>
  <div>
    <app-aboutus></app-aboutus>
  </div>

  <div class="bg3"></div>
  <div #ourservices>
    <app-ourservices></app-ourservices>
  </div>
  <div class="bg1"></div>
  <div #contact>
    <app-contactus></app-contactus>
  </div>
</div>
<!-- Mobile view -->
<div fxHide.gt-md>
  <div class="mobcontainer">
    <img class="mobimg" src="\assets\Images\home\logo.png" />
    <div class="mobcenter">
      <p style="font-size: 22px;">Grow Hopes</p>
    </div>
  </div>
  <br />
  <br />
  <div fxLayout="column" fxLayoutGap="80px" fxLayoutAlign="center center">
    <section style="width: 300px; text-align: center;">
      <img
        src="assets/Images/home/mission.jpg"
        style="width: 400x; height: 200px; border-radius: 50%;"
      />
      <h2 style="font-size: 26px;">Our Mission</h2>
      <p style="font-size: 16px; font-family: 'Times New Roman', Times, serif;">
        We deliver what we promise, efficient and promising prospected
        candidates to our clients. We want to give each of you the time and
        guidance you deserve. To provide the best services with effective
        results, changing lives everyday - RIGHT MAN AT RIGHT JOB.
      </p>
    </section>
    <section style="width: 300px; text-align: center;">
      <img
        src="assets/Images/home/vision.jpg"
        style="width: 400x; height: 200px; border-radius: 50%;"
      />
      <h2 style="font-size: 26px;">Our Vision</h2>
      <p style="font-size: 16px; font-family: 'Times New Roman', Times, serif;">
        To change the perception of recruitment and consultancy by devoting
        ourselves to the happiness of our clients, employees and candidates.
      </p>
    </section>
  </div>
  <br />
  <br />
  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="50px">
    <div
      style="
        text-align: center;
        font-size: 35px;
        line-height: 40px;
        font-family: cursive;
        color: royalblue;
      "
    >
      Clients we Work For:
    </div>
    <div style="width: 100%; height: 70%;">
      <ng-image-slider
        [images]="imageObject"
        [infinite]="true"
        [autoSlide]="1"
        [imageSize]="{ width: '100%', height: 400 }"
        slideImage="1"
        #nav
      ></ng-image-slider>
    </div>
    <br />
  </div>
  <div class="bg1"></div>
  <br />
  <div fxLayout="column" fxLayoutGap="50px" fxLayoutAlign="center center">
    <div
      style="
        text-align: center;
        font-size: 45px;
        line-height: 35px;
        font-family: cursive;
        color: royalblue;
      "
    >
      Meet Our Team
    </div>
    <div fxLayout="column" fxLayoutGap="50px" fxLayoutAlign="center center">
      <section>
        <mat-card class="matmob">
          <mat-card-title>Shashank Verma</mat-card-title>
          <mat-card-subtitle>Founder</mat-card-subtitle>
          <img class="personmob" src="/assets/Images/home/mission.jpg" /><br />
          <div fxLayout fxLayoutAlign="center center" fxLayoutGap="50px">
            <section>
              <a href="mailto: growhopes0@gmail.com "
                ><img class="circle" src="\assets\Images\home\icon\gmail.png"
              /></a>
            </section>
            <section>
              <a href="https://www.linkedin.com/in/shashank-verma-18b854185"
                ><img
                  class="circle"
                  src="\assets\Images\home\icon\linkedin.png"
              /></a>
            </section>
          </div>
        </mat-card>
      </section>

      <section>
        <mat-card class="matmob">
          <mat-card-title>Sofia Dubey</mat-card-title>
          <mat-card-subtitle>Marketing Head</mat-card-subtitle>
          <img class="personmob" src="/assets/Images/home/mission.jpg" /><br />
          <div fxLayout fxLayoutAlign="center center" fxLayoutGap="50px">
            <section>
              <a href="mailto:  sofiadubey@gmail.com "
                ><img class="circle" src="\assets\Images\home\icon\gmail.png"
              /></a>
            </section>
            <section>
              <a href="https://www.linkedin.com/in/sofiadubey"
                ><img
                  class="circle"
                  src="\assets\Images\home\icon\linkedin.png"
              /></a>
            </section>
          </div>
        </mat-card>
      </section>

      <section>
        <mat-card class="matmob">
          <mat-card-title>Nikita Kejriwal</mat-card-title>
          <mat-card-subtitle>HR Head</mat-card-subtitle>
          <img class="personmob" src="/assets/Images/home/mission.jpg" /><br />
          <div fxLayout fxLayoutAlign="center center" fxLayoutGap="50px">
            <section>
              <a href="mailto:  nikitak649@gmail.com "
                ><img class="circle" src="\assets\Images\home\icon\gmail.png"
              /></a>
            </section>
            <section>
              <a href="https://www.linkedin.com/in/nikita-kejriwal-52118a179"
                ><img
                  class="circle"
                  src="\assets\Images\home\icon\linkedin.png"
              /></a>
            </section>
          </div>
        </mat-card>
      </section>
    </div>

    <section>
      <mat-card class="matmob">
        <mat-card-title>Shivansh Arora</mat-card-title>
        <mat-card-subtitle>Strategic Consultant</mat-card-subtitle>
        <img class="personmob" src="/assets/Images/home/mission.jpg" /><br />
        <div fxLayout fxLayoutAlign="center center" fxLayoutGap="50px">
          <section>
            <a href="mailto: simplyshivansh10@gmail.com "
              ><img class="circle" src="\assets\Images\home\icon\gmail.png"
            /></a>
          </section>
          <section>
            <a href=" https://www.linkedin.com/in/shivansharora/"
              ><img class="circle" src="\assets\Images\home\icon\linkedin.png"
            /></a>
          </section>
        </div>
      </mat-card>
    </section>

    <section>
      <mat-card class="matmob">
        <mat-card-title>Tanya Dhingra</mat-card-title>
        <mat-card-subtitle>Social Media Head</mat-card-subtitle>
        <img class="personmob" src="/assets/Images/home/mission.jpg" /><br />
        <div fxLayout fxLayoutAlign="center center" fxLayoutGap="50px">
          <section>
            <a href="mailto:  taniyadhingra97@gmail.com "
              ><img class="circle" src="\assets\Images\home\icon\gmail.png"
            /></a>
          </section>
          <section>
            <a href="https://www.linkedin.com/in/tanya-dhingra-b92300161"
              ><img class="circle" src="\assets\Images\home\icon\linkedin.png"
            /></a>
          </section>
        </div>
      </mat-card>
    </section>

    <br /><br />
  </div>
  <div class="bg2"></div>
  <app-aboutus></app-aboutus>
  <div class="bg3"></div>
  <app-ourservices></app-ourservices>
</div>
