<div fxHide.lt-md>
  <div class="container">
    <img class="homeimg" src="\assets\Images\home\logo.png" />
    <div class="center">
      <p>Grow Hopes</p>
    </div>
  </div>
  <br> <br>
  <div fxLayout fxLayoutGap="80px" fxLayoutAlign="center">
    <section style="width: 600px;text-align: center;">
      <img src="assets/Images/home/mission.jpg" style="width: 400x;height: 200px; border-radius: 50%;">
      <h2>Our Mission</h2>
      <p>
        We deliver what we promise, efficient and promising prospected
        candidates to our clients. We want to give each of you the time and
        guidance you deserve. To provide the best services with effective
        results, changing lives everyday - RIGHT MAN AT RIGHT JOB.
      </p>
    </section>
    <section style="width: 600px; text-align: center;">
      <img src="assets/Images/home/vision.jpg" style="width: 400x;height: 200px; border-radius: 50%;">
      <h2>Our Vision</h2>
      <p>
        To change the perception of recruitment and consultancy by devoting
        ourselves to the happiness of our clients, employees and candidates.
      </p>
    </section>
  </div> <br>

  <!-- <div class="bg1"></div> -->
</div>
